<div id="carouselBanner" class="carousel slide" data-bs-ride="carousel" data-bs-interval="5000" data-bs-pause=false>
    <div class="carousel-inner">
        <div class="carousel-item active">
            <div class="d-flex justify-content-center banner banner-box bg-primary" alt="First Slide">
                <div class="align-self-center">
                    <div class="align-self-center text-center">
                        <h1 class="banner-size-1"><strong><u>First slide</u></strong></h1>
                        </br>
                        <h1 class="banner-size-2">Display 2</h1>
                        <h1 class="banner-size-3">Display 3</h1>
                        <h1 class="banner-size-4">Display 4</h1>
                        <h1 class="banner-size-5">Display 5</h1>
                    </div>
                </div>
               
            </div>
        </div>
        <div class="carousel-item">
            <div class="d-flex justify-content-center banner banner-box bg-secondary" alt="Second Slide">
                <div class="align-self-center text-center">
                    <h1 class="banner-size-1"><strong><u>Second slide</u></strong></h1>
                    </br>
                    <h1 class="banner-size-2">Display 2</h1>
                    <h1 class="banner-size-3">Display 3</h1>
                    <h1 class="banner-size-4">Display 4</h1>
                    <h1 class="banner-size-5">Display 5</h1>
                </div>
            </div>
        </div>
        <div class="carousel-item">
            <div class="d-flex justify-content-center banner banner-box bg-warning" alt="Third Slide">
                <div class="align-self-center text-center">
                    <h1 class="banner-size-1"><strong><u>Third slide</u></strong></h1>
                    </br>
                    <h1 class="banner-size-2">Display 2</h1>
                    <h1 class="banner-size-3">Display 3</h1>
                    <h1 class="banner-size-4">Display 4</h1>
                    <h1 class="banner-size-5">Display 5</h1>
                </div>
            </div>
        </div>
    </div>
    </br>
    <a class="btn btn-primary" role="button" href="{{ url_for('admin') }}">Admin</a>
</div>